#contact{
    padding: 60px 0;
}

.contact-row{
    display: flex;
    flex-direction: row;
}

#contact-info{
    display: flex;
    flex-direction: column;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 44%;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
    margin: 0 5px;
}

#contact-info h4{
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--dark-blue);
}

#contact-info p{
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
}

#contact-info i{
    font-size: 20px;
    color: #47b2e4;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

#contact-map{
    position: relative;
    width: 39.1rem;
    height: 29rem;
    overflow:hidden;
}

#contact-map img{
    /* width: 100%; */
    /* height: auto; */
}

#contact-input{
    display: block;
    width: 100%;
    background-clip: padding-box;

    border-top: 3px solid var(--sky-blue);
    border-bottom: 3px solid var(--sky-blue);
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
    margin: 0 5px;
}

#contact-input label{
    padding-bottom: 8px;
}

#contact-yourName{
    padding: 0 12px 8px 0;
    margin-bottom: 20px;
}

#contact-yourEmail{
    padding: 0 0 8px 12px;
    margin-bottom: 20px;
}

#contact-yourSubject{
    margin-bottom: 20px;
    padding-bottom: 8px;
}
#contact-input input{
    height: 4.4rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-top: 10px;

}

#contact-yourMessage{
    margin-bottom: 20px;
    padding-bottom: 8px;
}

#contact-yourMessage textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px 12px;
    height: 21rem;
    margin-top: 10px;

}

#contact-sendBtn{
    text-align: center;
}

#contact-sendBtn button{
    background: var(--sky-blue);
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

#contact-sendBtn button:hover{
    background: var(--dark-blue);
}
