/* FAQ -기능*/
#faq{
    background: var(--light-blue);
    padding: 6rem 0;
}

#faq-title{
    position: relative;
    animation: upward-animation 1.5s 0s 1;
}

.faq-accordion{
    position: relative;
    animation: upward-animation 1.5s 0s 1;
}

/* faq design */
.faq-main{
    font-size: 1.6rem;
    font-weight: 500;
}

.faq-accordion {
    position: relative;
    padding: 0 10rem;
}

[id*="faq-open-accordion"], [id*="faq-close-accordion"] {
    background: white;
    padding: 0;
    border-bottom: 1px solid #fff;
    line-height: 40px;
    display: block;
    position: relative;
    width: 100%;
}

[id*="faq-close-accordion"] {
    display: none;
}

.faq-accordion div a {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: var(--dark-blue);
    padding: 2rem ;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}


.fa-chevron-up, .fa-chevron-down{
    position: absolute;
    top: 3rem;
    right: 3rem;
}

.faq-target-fix {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
}

.faq-accordion-content {
    background: #fff;
    height: 0;
    margin-bottom: 1rem;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
}
.faq-accordion-content p{
    padding: 0 2rem 2rem;
}

.faq-accordion span:target ~ .faq-accordion-content {
    display: block;
    height: 7rem;
}

.faq-accordion #faq-accordion1:target ~ .faq-accordion-content {
    display: block;
    height: 6rem;
}

.faq-accordion span:target ~ [id*="faq-close-accordion"] {
    color: var(--sky-blue);
    display: block;
}

.faq-accordion span:target ~ [id*="faq-open-accordion"] {
    display: none;
}

[id*="faq-open-accordion"]:hover{
    color: var(--sky-blue);
}
[id*="faqq-close-accordion"] {
    display: flex;
}

[id*="faq-close-accordion"]:hover > p{
    opacity: 0.7;
}
[id*="faq-close-accordion"] p{
    display: inline-block;
}

.fa-question-circle{
    display: inline-block;
    color: var(--sky-blue);
    opacity: 1;
    margin: 1rem;
}