/*삭제해야함. fix header 디버깅용*/
body {
    height: 1000rem;
}

/*제일 위 헤더*/
/*헤더에도 스크롤이 생기는 문제... 는 아르샤는 헤더 아래에 html이 다시 시작해서 그런걸까 하는 짐작.*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    height: 6.5rem;
    border-bottom: 0.1rem solid #ddd;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

/*헤더 로고*/
.header-logo a {
    color: var(--dark-blue);
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    letter-spacing: -.08rem;
    font-weight: 900;
}

.header-logo a strong span {
    color: var(--sky-blue);
}

.header-logo a img {
    height: 3rem;
    margin-right: 0.6rem;
}

/*헤더 왼쪽 아이콘*/
.header-preview ul {
    display: flex;
    align-items: center;
    margin: 0 0 0 2rem;
}

.header-preview li a {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
}

.header-preview li a i {
    font-size: 1.9rem;
    transition: all 0.2s ease-in-out;
}

.header-preview li a i:hover {
    color: var(--sky-blue);
}

.header-preview li a.header-preview__highlight {
    border-bottom: 0.2rem solid var(--sky-blue);
    color: var(--sky-blue);
}


/*헤더 오른쪽*/
.header-navigate ul {
    display: flex;
    align-items: center;
}

.header-navigate ul li a {
    padding: 0.5rem 1rem;
    border: solid 0.1rem #dfdfdf;
    border-radius: 0.4rem;
    color: #828282;
    display: inline-block;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.header-navigate ul li a:not(.header-navigate__middle):hover {
    border: solid 0.1rem var(--sky-blue);
    color: var(--sky-blue);
}

.header-navigate ul li a:not(.header-navigate__right-arrow) {
    margin-right: 0.5rem;
}

.header-navigate ul li a.header-navigate__left {
    width: 4.6rem;
    height: 4rem;
}

.header-navigate__middle {
    width: 16.2rem;
    height: 4.1rem;
    background-color: #00A6EB;
    transition: background-color 13s ease-in-out;
}

.header-navigate__middle:hover {
    background-color: #00B4FF;
}

.header-navigate__middle i {
    color: white;
}

.header-navigate__middle span {
    font-size: 1.5rem;
    padding-left: 0.7rem;
    vertical-align: bottom;
    color: white;
}

.header-naviagte__arrow {
    width: 5.8rem;
    height: 4rem;
}

.header-navigate ul li i {
    padding-top: 0.5rem;
    font-size: 1.8rem;
    vertical-align: text-bottom;
}

/*남색 헤더*/
#s-header {
    position: fixed;
    top: 6.5rem;
    right: 0;
    left: 0;
    height: 7.25rem;
    padding: 1.5rem 0;
    color: white;
    display: flex;
    justify-content: center;
}

.s-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 132rem;
    padding: 0 1.2rem;
}


.s-header-logo {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

#s-header-nav-ul {
    display: flex;
    align-items: center;
}

#s-header-nav-ul li a:not(#s-header-nav__start) {
    padding: 1rem 0 1rem 3rem;
    font-size: 1.5rem;
    transition: color 0.2s ease-in-out;
}

#s-header-nav-ul li a:not(#s-header-nav__start):hover {
    color: var(--sky-blue);
}

#s-header-nav-ul li a i {
    margin-left: 0.6rem;
}

#s-header-nav__home {
    color: var(--sky-blue);
}

#s-header-nav__start {
    padding: 0.9rem 2rem;
    margin-left: 3rem;
    border-radius: 5rem;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
    border: 0.2rem solid var(--sky-blue);
    transition: background-color 0.2s ease-in-out;
}

#s-header-nav__start:hover {
    background-color: var(--sky-blue);
}

/*드롭 다운*/
#s-header-nav__dropdown {
    position: relative;
}

#s-header-nav__dropdown:hover > #s-header-dropdown{
    top: 3rem;
    visibility: visible;
    opacity: 1;
}


#s-header-dropdown {
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 1.4rem;
    top: calc(100% + 3rem);
    width: 22rem;
    height: 22.5rem;
    background: white;
    color: var(--dark-blue);
    padding: 1rem 0;
    z-index: 97;
    border-radius: 0.4rem;
    flex-direction: column;
}

#s-header-dropdown li {
    display: flex;
    height: calc(20.5rem / 5);
    margin-left: -1rem;
}

#s-header-deep-dropdown i{
    position: absolute;
    right: 2rem;

}

/*Deep Drop Down*/
#s-header-deep-dropdown:hover > #s-header-deep-dropdown-ul {
    left: 22rem;
    visibility: visible;
    opacity: 1;
}

#s-header-deep-dropdown-ul {
    transition: all 0.3s ease-in-out;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 19rem;
    width: 22rem;
    height: 22.5rem;
    background: white;
    box-shadow: -7px 0 28px 0px rgb(0 0 0 / 15%);
    color: var(--dark-blue);
    padding: 1rem 0;
    z-index: 99;
    border-radius: 0.4rem;
    flex-direction: column;
}

/*첫 세션*/
#hero {
    background-color: var(--dark-blue);
    padding: 10.5rem 0 6rem 0;
    overflow: hidden;
    width: 100%;
}

.hero-container {
    padding: 7.2rem 1.2rem 0;
    width: 132rem;
}

.hero-row {
    display: flex;
    align-items: center;
    width: 132rem;
    height: 52.6rem;
}

.hero-button-row {
    display: flex;
    justify-content: flex-start;
    font-size: 1.6rem;
    font-weight: 600;
}

.hero-button-row__button {
    color: white;
    border-radius: 5rem;
    margin-top: 1rem;
    padding: 1.3rem 2.8rem 1.4rem 2.8rem;
    background-color: #47b2e4;
    transition: background-color 0.4s ease-in-out;
}

.hero-button-row__button:hover {
    background-color: #00A6EB;
}

#hero-button-row__watch {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
}

#hero-button-row__watch span {
    color: white;
}

#hero-button-row__watch i {
    margin-right: 0.8rem;
    font-size: 3.2rem;
    color: white;
    
    transition: all 0.2s ease-in-out;
}

#hero-button-row__watch:hover > #hero-button-row__icon {
    color: #00A6EB;
}

.hero-text {
    width: 48%;
    padding-right: 1.2rem;
    padding-top: 1.2rem;
}

.hero-text h1 {
    color: white;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.6rem;
    margin: 0 0 1rem;
}

.hero-text h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5rem;
    font-weight: 600;
    line-height: 1.2;
    font-size: 2.4rem;
}

.hero-img {
    width: 66rem;
    height: 52.6rem;
    padding: 0 0 0 2.6rem;
}

.hero-img img {
    width: 100%;
    height: 100%;
}

#clients {
    background-color: var(--light-blue);
    overflow: hidden;
    padding: 1.2rem 0;
}

.clients-container {
    width: 132rem;
    height: 7.82rem;
    margin: auto;
}

.clients-container-row {
    display: flex;
    width: 132rem;
    height: 100%;
}

.clients-container-row__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.66666667%;
}

.clients-container-row__icon img {
    max-width: 45%;
    width: 8.8rem;
    /* transition: all 0.4s ease-in-out; */
    display: inline-block;
    padding: 1.5rem 0;
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
}

.clients-container-row__icon img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}