/* portfolio */
/* portfolio - section-title */
#portfolio-main{
    padding: 60px 0;
}

#portfolio-category{
    display: inline-block;
    text-align: center;
}

#portfolio-category li{
    display: inline-block;
    background-color: white;
    color:#444;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
}

#portfolio-category li.portfolio-category-active, 
#portfolio-category li:hover{
    background-color: var(--sky-blue);
    color: white;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
}

/* portfolio-column */
#portfolio-container{
    display: flex;
    flex-direction: row;
}

.portfolio-col{
    display:flex;
    flex-direction: column;
    width: 33%;
    height: auto;

}

/* image-wrapper */
.portfolio-item{
    position:relative;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    padding :0 12px;
}

.portfolio-img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    transition: all, 0.3s;
    
}

.portfolio-info{
    opacity: 0;
    position: absolute;
    bottom:0;
    width: 93.2%;
    background: rgba(55, 81, 126, 0.8);
    color:white;
    padding: 10px 15px;
    transition: all, 0.3s;
}

.portfolio-info h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.portfolio-info p{
    color: #f9fcfe;
    font-size: 14px;
    margin-bottom: 0;
}

.portfolio-img:hover,
.portfolio-info:hover + .portfolio-img{ 
    transform: scale(1.2,1.2);
}

.portfolio-img:hover + .portfolio-info, .portfolio-info:hover{
    opacity :1;
    
}

.portfolio-Icon{
    position:absolute;
    top: 19px;
    right: 15px;
}

.portfolio-Icon i:first-child{
    padding-right: 9px;
}

.portfolio-Icon i:hover{
    color: var(--sky-blue);
}

/* FAQ -기능*/
#faq{
    background: var(--light-blue);
    padding: 60px 0;
}

.faq-hiddenPara{
    display:none;
}

.faq-hiddenPara-btn .faq-icon .fa-chevron-up{
    display: none;
}

.faq-hiddenPara-btn:hover{
    color: var(--sky-blue);
}


#first-btn:checked ~ .faq-hiddenPara-btn{
    color: var(--sky-blue);
}
#second-btn:checked ~ .faq-hiddenPara-btn{
    color: var(--sky-blue);
}
#third-btn:checked ~ .faq-hiddenPara-btn{
    color: var(--sky-blue);
}
#fourth-btn:checked ~ .faq-hiddenPara-btn{
    color: var(--sky-blue);
}
#fifth-btn:checked ~ .faq-hiddenPara-btn{
    color: var(--sky-blue);
}


#first-btn:checked ~ .faq-hiddenPara{
    display: block;
    width: 100%;
    height:auto;
}
#second-btn:checked ~ .faq-hiddenPara{
    display: block;
    width: 100%;
    height:auto;
}
#third-btn:checked ~ .faq-hiddenPara{
    display: block;
    width: 100%;
    height:auto;
}
#fourth-btn:checked ~ .faq-hiddenPara{
    display: block;
    width: 100%;
    height:auto;
}
#fifth-btn:checked ~ .faq-hiddenPara{
    display: block;
    width: 100%;
    height:auto;
}

#first-btn:checked ~ .faq-hiddenPara-btn .fa-chevron-up{
    display: block;
}
#first-btn:checked ~ .faq-hiddenPara-btn .fa-chevron-down{
    display: none;
}

#second-btn:checked ~ .faq-hiddenPara-btn .fa-chevron-up{
    display: block;
}
#second-btn:checked ~ .faq-hiddenPara-btn .fa-chevron-down{
    display: none;
}

#third-btn:checked ~ .faq-hiddenPara-btn .fa-chevron-up{
    display: block;
}
#third-btn:checked ~ .faq-hiddenPara-btn .fa-chevron-down{
    display: none;
}

#fourth-btn:checked ~ .faq-hiddenPara-btn .fa-chevron-up{
    display: block;
}
#fourth-btn:checked ~ .faq-hiddenPara-btn .fa-chevron-down{
    display: none;
}

#fifth-btn:checked ~ .faq-hiddenPara-btn .fa-chevron-up{
    display: block;
}
#fifth-btn:checked ~ .faq-hiddenPara-btn .fa-chevron-down{
    display: none;
}

/* faq design */
.faq-main{
    font-size: 16px;
    font-weight: 500;
}

.faq-hidden li{
    position: relative;
    background: white;
    padding: 20px;
    margin-bottom: 10px;
}

.faq-icon i{
    position: absolute;
    right: 25px;
    top: 22px;
}

.faq-hiddenPara{
    padding-top: 15px;
    height: auto;
}