.target {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}
.open-accordion {
  display: block;
}
.close-accordion {
  display: none;
}
span:target ~ .open-accordion {
  display: none;
}
span:target ~ .close-accordion {
  display: block;
}

.accordion-jh {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.accordion-jh__li {
  width: 51.294rem;
  background: white;
  border-radius: 0.4rem;
  padding: 2rem;
}

.accordion-jh__li a > div {
  height: 2.467rem;
  color: #343a40;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.accordion-jh__li a > div div {
  display: flex;
  align-items: center;
}
.accordion-jh__num {
  color: var(--sky-blue);
  font-size: 1.8rem;
  font-weight: 600;
  padding-right: 1.3rem;
}
.accordion-jh__title {
  font-size: 1.6rem;
  font-weight: 500;
}
.accordion-jh__li i {
  font-size: 1.3rem;
  position: relative;
  top: 0.1rem;
  right: 0.5rem;
}
.accordion-jh__li a:hover div {
  color: var(--sky-blue);
}

/* When accordion is open */

.accordion-jh__li span:target ~ a div {
  color: var(--sky-blue);
}
.accordion-jh__li span:target ~ a:hover .accordion-jh__title,
.accordion-jh__li span:target ~ a:hover i {
  opacity: 0.7;
}

.accordion-jh__content {
  line-height: 1.5;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.accordion-jh__li:first-of-type span:target ~ .accordion-jh__content {
  height: 8.2rem;
  padding-top: 1rem;
}
.accordion-jh__li:nth-of-type(2) span:target ~ .accordion-jh__content,
.accordion-jh__li:nth-of-type(3) span:target ~ .accordion-jh__content {
  height: 13rem;
  padding-top: 1rem;
}
