/* animations in Eup-Ipsam, Services Section */
@keyframes upwards-jh {
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes expand-jh {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* animations in Skills Section */
@keyframes toTheRight-jh {
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes toTheLeft-jh {
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes progress1-jh {
  to {
    width: 100%;
  }
}
@keyframes progress2-jh {
  to {
    width: 90%;
  }
}
@keyframes progress3-jh {
  to {
    width: 75%;
  }
}
@keyframes progress4-jh {
  to {
    width: 55%;
  }
}

/* animation in Services Section */
@keyframes expand2-jh {
  0.00001% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
