.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  box-shadow: 0 0 2.5rem 0 rgb(0 0 0 / 10%);
  width: 26.1rem;
  padding: 5rem 3rem;
  background: #fff;
  transform: scale(0.5);
  opacity: 0;
  position: relative;
  animation: expand 1s ease-in-out forwards;
  transition: all 1s ease-in-out; /* need to fix! */
}
.card:first-child {
  animation-delay: 4s;
}
.card:nth-child(2) {
  animation-delay: 4.2s;
}
.card:nth-child(3) {
  animation-delay: 4.4s;
}
.card:last-child {
  animation-delay: 4.6s;
}
.card:hover {
  bottom: 1rem;
}
.card:hover h4 {
  color: var(--sky-blue);
}

.card i {
  display: block;
  height: 4rem;
  color: var(--sky-blue);
  font-size: 3.6rem;
  margin-bottom: 1rem;
}
.card h4 {
  height: 2.8792rem;
  color: #37517e;
  font-family: "Jost", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.card p {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
